<div class='results-block'>
  <%= render 'layouts/messages' %>
</div>

<% if @my_friends %>
  <% @my_friends.each do |friend| %>
    <div class='row'>
      <div class='card card-header results-block'>
        <strong>Name: </strong> <%= friend.full_name %>
        <strong>Profile: </strong> <%= link_to 'View profile', user_path(friend), class: 'btn btn-xs btn-success' %>
        <% if not current_user.friends.include? friend %>
          <%= link_to 'Follow', friendships_path(friend: friend), class: 'btn btn-xs btn-success', method: :post %>
        <% else %>
          <span class='badge bg-secondary'>
            is your friend
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
