<h2>User Details</h2>

<div class='row'>
  <div class='card card-header results-block'>
    <strong>Name: </strong> <%= @user.full_name %>
    <% if not current_user.friends.include? @user %>
      <%= link_to 'Follow', friendships_path(friend: @user), class: 'btn btn-xs btn-success', method: :post %>
    <% else %>
      <span class='badge bg-secondary'>
        is your friend
      </span>
    <% end %>
  </div>
</div>

<% if not @tracked_stocks.empty? %>
  <%= render 'stocks/list' %>
<% else %>
  <p class='lead'>This user is not tracking cryptos</p>
<% end %>
